body {
    background-color: rgb(73, 137, 241);
}

#score {
    font-size: 25px;
    float: left;
    margin-left: 15px;
}

#timer {
    font-size: 25px;
    float: right;
    margin-right: 15px;
}

#sketch_to_be_drawn {
    color: lightcoral;
    font-weight: bold;
}